@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-nav {
    background-color: #0C0521;
}

.icon-color {
    background-color: white;
}

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    height: 100vh;
    background-size: cover;
    padding: 10px;
}

.logo {
    height: 50px;
    width: 100px;
}

.main-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.highlight-word {
    color: #FFDDA9;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.paragraph {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
}

.button {
    background-color: #FFDDA9;
    color: #0C0521;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px;
    height: 50px;
    width: 200px;
}